{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-console": "off",
    "eqeqeq":"off",
    "camelcase":"off",
    "prefer-const":"warn",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 90,
        "tabWidth": 8,
        "endOfLine": "auto"
      }
    ]
  }
}
