<%- include('./layout/header.ejs') %>
<div class="container-fluid m-0">
  <div class="row min-vh-100">
    <div class="col-3 g-0">
      <div class="py-3">
        JOB TITLE / POSITION
      </div>
      <div class="py-3">
        TECHNOLOGIES 
      </div>
      <div class="py-3">
        EXPERIENCE
      </div>
      <div class="py-3">
        REVIEW
      </div>
      <div class="py-3">
        READ / UNREAD
      </div>
    </div>
    <div class="col-2 g-0">
      <div class="pb-1">
        CARDS
      </div>
      <div class="pb-1">
        CARDS
      </div>
      <div class="pb-1">
        CARDS
      </div>
    </div>
    <div class="col-7 g-0">
      <div class="d-flex flex-column border-bottom">
        <div>
          IMAGE
        </div>
        <div>
          John Doe
        </div>
        <div>
          21 Female Single Davao
        </div>
        <div>
          aaa@gmail.com skype 09090909
        </div>
        <div>
          6 years experience
        </div>
        <div>
          Expert in TECHNOLOGIES
        </div>
        <div>
          assign status
        </div>
        <div>
          save resume
        </div>
      </div>

      <div class="container py-3">
        <h3>SKILLS</h3>
        <div class="row">
          <div class="col-md-4 m-0">
            TECH1
          </div>
          <div class="col-md-4 m-0">
            TECH2
          </div>
          <div class="col-md-4 m-0">
            TECH3
          </div>
          <div class="col-md-4 m-0">
            TECH4
          </div>
          <div class="col-md-4 m-0">
            TECH5
          </div>
          <div class="col-md-4 m-0">
            TECH6
          </div>
        </div>
      </div>

      <div class="py-3">
        <h3>CAPABILITIES</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt sit libero impedit accusantium fugit ut quaerat ipsum autem tempore atque!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt sit libero impedit accusantium fugit ut quaerat ipsum autem tempore atque!</p>
      </div>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs') %>