<%- include('./layout/header.ejs') %>
<div class="container-fluid m-0" style="padding-top: 65px;">
  <div class="row min-vh-100">
    <%- include('./layout/sideMidBarApplication.ejs') %>
    <div class="col-6 d-flex justify-content-center align-items-center" id="app-details-container" style="background-color: #f2f2f2;">
      <h1><strong>PLEASE SELECT APPLICANTS</strong></h1>
    </div>
  </div>
</div>

<%- include('./filterFunctions/applicationFilter.ejs') %>
<%- include('./layout/footer.ejs') %>