<%- include('./layout/header2.ejs') %>
  <div class="content-title text-left">
    <h1>The Role and The Team</h1>
    <p>We believe outstand</p>
      <% for (let i=0; i < job_details.length; i++) { %>
        <h2> <%= job_details[i].role %>  </h2>
        <h2>Job Description</h2>
        <h3>What You Will Do</h3>
        <h3>What We Are Looking For</h3>
        <h3>BENEFITS</h3>
      <% } %>
  <div class="button-wrapper">
    <a href="/careers/job/<%= jobId %>/resume"><button class="btns">Apply Now</button></a>
  </div>
</div>
  <%- include('./layout/footer2.ejs') %> 

