<%- include('./layout/header.ejs')  %>  

  <form action="/logout?_method=DELETE" class="min-vh-100 " method="post">
    <div class="d-flex justify-content-center min-vh-100">
      <button>LOGOUT</button>
    </div>
  </form>

<%- include('./layout/footer.ejs')  %>  