<%- include('./layout/header.ejs')  %>  
<div class="">
  <div class="row min-vh-100">
    <div class="col-sm-2">
      <div class="d-flex flex-column min-vh-100">
        <div>
          <a href="/job-requirement">JOB REQUIREMENT</a>
        </div>
        <div>
          <a href="/job-details">JOB DETAILS</a>
        </div>
        <div>
          <a href="/exam">EXAM</a>
        </div>
        <div class="mt-auto">
          <a href="#">BACK TO JOB PAGE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div id="JOB DETAILS" class="tabcontent">
        <h3>NEW JOB OPENING</h3>
        <form>
          <label for="jobtitle">JOB TITLE</label><br>
          <input type="text" id="jobtitle" name="jobtitle"><br>
        </form>
        <br>
        <form action="/action_page.php">
          <label for="department">DEPARTMENT</label>
          <select name="department" id="deparment">
            <option value="1">Select</option>
            <option value="2">Idkkkk</option>
            <option value="3">Idkkkkk</option>
            <option value="4">Idkkkk</option>
          </select>
          <br>
        </form>
        <br>
        <form action="/action_page.php">
          <label for="salary range">SALARY RANGE</label>
          <select name="salary range" id="salary range">
            <option value="1">Select</option>
            <option value="2">Idkkkk</option>
            <option value="3">Idkkkkk</option>
            <option value="4">Idkkkk</option>
          </select>
          <br>
        </form>
        <br>
        <form action="/action_page.php">
          <label for="career level">CAREER LEVEL</label>
          <select name="career level" id="career level">
            <option value="1">Select</option>
            <option value="2">Idkkkk</option>
            <option value="3">Idkkkkk</option>
            <option value="4">Idkkkk</option>
          </select>
          <br>
        </form>
        <br>
        <form action="/action_page.php">
          <label for="work type">WORK TYPE</label>
          <select name="work type" id="work type">
            <option value="1">Select</option>
            <option value="2">Idkkkk</option>
            <option value="3">Idkkkkk</option>
            <option value="4">Idkkkk</option>
          </select>
          <br><br>
        </form>
        <form>
          <label for="jobdesc">JOB DESCRIPTION</label><br>
          <input type="text" id="jobdesc" name="jobdesc">
        </form>
        <br>
        <h4>MINIMUM QUALIFICATIONS</h4>
        <form>
          <label for="years">YEARS OF EXPERIENCE</label><br>
          <input type="text" id="years" name="years"><br>
        </form>
        <br>
        <form>
          <label for="exam score">EXAM SCORE</label><br>
          <input type="text" id="exam score" name="exam score"><br>
        </form>
        <br>
        <form action="/action_page.php">
          <label for="hr">HR ASSESSMENT</label>
          <select name="hr" id="hr">
            <option value="1">Select</option>
            <option value="2">Idkkkk</option>
            <option value="3">Idkkkkk</option>
            <option value="4">Idkkkk</option>
          </select>
          <br><br>
        </form>
        <h5>PROGRAMMING LANGUAGES, IDE AND FRAMEWORKS</h5>
        <div>
        <form action="/job-requirements" method="POST">
          <% for(let i=0; i < skill.length; i++) { %>
            <input type="checkbox" id="C#" name="C#" value="C#">
          <label for="C#"> <%= skill[i].skill_name %></label><br>
          <input type="radio" id="1" name="level" value="1">
          <label for="1">1</label>
          <input type="radio" id="2" name="level" value="2">
          <label for="2">2</label>
          <input type="radio" id="3" name="level" value="3">
          <label for="3">3</label>
          <input type="radio" id="4" name="level" value="4">
          <label for="4">4</label>
          <input type="radio" id="5" name="level" value="5">
          <label for="1">5</label>
          <% } %> 
        </form>
        <div>
          <h6>EXAM</h6>
          <ul>
            <li>What is wrong with this line of code?<span class="close">x</span></li>
            <li>What is the correct code to check if a data table is empty?<span class="close">x</span></li>
          </ul>
        </div>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs')  %>  