<%- include('./layout/header.ejs')  %>  
<div class="">
  <div class="row min-vh-100">
    <div class="col-sm-2">
      <div class="d-flex flex-column min-vh-100">
        <div>
          <a href="#">Branding</a>
        </div>
        <div>
          <a href="/users">Users</a>
        </div>
        <div>
          <a href="#">System Variables</a>
        </div>
        <div class="mt-auto">
          <a href="#">BACK TO JOB PAGE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <h2>Users</h2>
      <p>User Accounts</p>            
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>****</th>
              <TD class = "select">
              <select>        
                      <option value="volvo">Administrator</option>
                      <option value="saab">Reviewer</option>
              </select>
              </TD>   
            <th>@email.com</th>
          </tr>
        </thead>
        <tbody>
          <th>Name</th>
          <th>****</th>
            <TD class = "select">
            <select>        
                    <option value="volvo">Administrator</option>
                    <option value="saab">Reviewer</option>
            </select>
            </TD>   
          <th>@email.com</th>
          <tr>
            <th>Name</th>
          <th>****</th>
            <TD class = "select">
            <select>        
                    <option value="volvo">Administrator</option>
                    <option value="saab">Reviewer</option>
            </select>
            </TD>   
          <th>@email.com</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs')  %>  