.glyphicon { margin-right:5px; 
    
}
.btn-group{

    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
}
.item.list-group-item
{
    float: none;
    width: 100%;
    margin-bottom: 10px;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
  
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.row{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  

}
.sidebar-column{
    width: 30%;
    background-color: #fff;
    display: inline-block;
    float: left;
    padding: 0 30px;
    max-width: 450px;
    padding-top: 50px;
    min-width: 300px;
    height: 100%; 
    position:fixed;
      

}
.container {
    width: 90% !important;
    margin: 0 auto !important;
    max-width: calc(300% - 450px);
    width: calc(100%);
    display: inline-block;
    padding: 0 25%;
    padding-top: 70px;
    padding-bottom: 5%;
    float: center;
}

