<DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8"> 
            <meta http-equiv="X-UA-Compatible" content="IE-edge"> 
            <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
            <%= (typeof title != "undefined" ? title : "") %>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css" integrity="sha512-aqT9YD5gLuLBr6ipQAS+72o5yHKzgZbGxEh6iY8lW/r6gG14e2kBTAJb8XrxzZrMOgSmDqtLaF76T0Z6YY2IHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js" integrity="sha512-43iShtbiyImxjjU4a9rhXBy7eKtIsrpll8xKhe1ghKqh5NyfME8phZs5JRFZpRBe1si44WM3tNmnqMym7JRmDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       
            <!-- <style>
              .content-title{
               width: 30%;
              display: inline-block;
              float:left;
              padding: 0 30px;
              max-width: 450px;
              padding-top: 50px;
              min-width: 300px; 
              
                      
              }
              .sidebar-column {
              width: 30%;
              background-color: #fff;
              display: inline-block;
              float: right;
              padding: 0 40px;
              max-width: 450px;
              padding-top: 50px;
              min-width: 300px;
              }
              .sidebar-title{
              padding-bottom: 20px;
              text-transform: uppercase;
              font-size: 1em;
              color: blue;
              }
              </style> -->
       
          </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                  <a href="/careers" class="navbar-brand"
                  
                  ><i class="fa-solid fa-">FILAM SOFTWARE</i>
                  <button
                    class="navbar-toggler"
                    data-bs-target="#my-nav"
                    data-bs-toggle="collapse"
                    aria-controls="my-nav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item"></li>
                      <li class="nav-item">
                        <a href="" class="nav-link"
                       > <i class=""></i> HOME</i></a>
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link"
                          ><i class=""></i> ABOUT US</i></a
                        
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link"
                          ><i class=""></i> SERVICES</i></a
                        
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link"
                          ><i class=""></i> CLIENTS</i></a
                        
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link"
                          ><i class=""></i> CONTACT US</i></a
                        
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link"
                          ><i class=""></i> BLOG</i></a
                        
                      </li>
                      <li class="nav-item">
                        <a href="/careers" class="nav-link"
                          ><i class=""></i> CAREERS</i></a
                        
                      </li>
                         
                    </section>
                </nav>
            </section>
        </section>
       <section id="start">
        <section id="body-wrapper" class="section blog-page">
    <section class="container grid-lg g-0">

            <h1 class="text-center best-header">#BestPlaceToWork</h1>
            <p class="text-center">Careers</p>
        </div>
      </div>
  
                        
    
                  </div>
                </div>
              </nav>


