<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RMS</title>
    <link rel="stylesheet" href="/icon.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
      integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/bs4/dt-1.11.4/datatables.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
      .dropdown-toggle {
        position: relative;
      }

      .dropdown-toggle::after {
        position: absolute;
        right: 20px;
        bottom: 45%;
      }

      .selected-color {
        background-color: #4D4D4D;
        color: #fff;
      }

      .selected-color:hover, .selected-color:focus {
        background-color: #E8E8E8;
        color: black
      }
    </style>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a href="/" class="navbar-brand"><span class="h5">RMS</span>  <span>|</span>  <span>FilAm Software Technology</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item ">
            <% if (currentUser[0].role_id == '3') { %>
              <a href="/" class="nav-link">JOBS</a>
             <% } else if (currentUser[0].role_id == '1') { %>
              <a href="/" class="nav-link">JOBS</a>
             <% } else { %>
             <% } %>
          </li>
          <li class="nav-item ">
            <a href="/application" class="nav-link">APPLICATION</a>
          </li>
          <li class="nav-item ">
            <% if (currentUser[0].role_id == '3') { %>
              <a href="/examcreation" class="nav-link">EXAM</a>
             <% } else if (currentUser[0].role_id == '1') { %>
              <a href="/examcreation" class="nav-link">EXAM</a>
             <% } else { %>
             <% } %>
            
          </li>
          <li class="nav-item ">
            <% if (currentUser[0].role_id == '3') { %>
              <a href="/branding" class="nav-link">SETTINGS</a>
             <% } else if (currentUser[0].role_id == '1') { %>
              <a href="/branding" class="nav-link">SETTINGS</a>
             <% } else { %>
             <% } %>
          </li>
          <li class="nav-item ">
            <div class="wrapper">
              <div class="navbar">
                <div class="nav_right">
                  <ul>
                    <li class="nr_li dd_main" style="list-style: none;">
                          <% if (currentUser[0].photo != null) { %>
                            <img src="/<%= currentUser[0].photo %>" width="30" height="30" class="fas fa-circle-user">
                          <% } else { %>
                            <a style="color: blue;"><i class="fas fa-circle-user"></i></a>
                          <% } %>
                      <div class="dd_menu">
                        <div class="dd_right">
                          <ul style="list-style: none;">
                            <li>
                              <p>Hello <%= currentUser[0].user_name %></p>
                              you are logged in as <%= currentUserRole[0].role_name %> 
                            </li>
                            <li>
                              <% if (currentUser[0].role_id == '3') { %>
                               <a></a>
                              <% } else if (currentUser[0].role_id == '1') { %>
                              <a></a>
                              <% } else { %>
                              <a href="/userProfile"><button>Profile</button></a>
                              <% } %>
                            </li>
                            <li> <form action="/logout?_method=DELETE" class="logout" method="post">
                              <div class="d-flex justify-content-start">
                                <button>LOGOUT</button>
                              </div>
                            </form></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>	
          </li>
   </nav>
   	<script>
	var dd_main = document.querySelector(".dd_main");

dd_main.addEventListener("click", function(){
  this.classList.toggle("active");
})
	</script>
  </body>
</html>
